<div class="row">
  <div class="col-6 offset-3">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="inputName" class="form-label">Name</label>
        <input type="email" class="form-control" id="inputName" formControlName="name">
        <div class="form-text text-danger" *ngIf="registerFormControls['name'].invalid && (registerFormControls['name'].dirty || registerFormControls['name'].touched)">
          <ng-container *ngIf="registerFormControls['name'].errors?.['required']">
            Please enter your name.
          </ng-container>
        </div>
      </div>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="inputEmail" formControlName="email">
        <div class="form-text text-danger" *ngIf="registerFormControls['email'].invalid && (registerFormControls['email'].dirty || registerFormControls['email'].touched)">
          <ng-container *ngIf="registerFormControls['email'].errors?.['required']">
            Please enter your email.
          </ng-container>
        </div>
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" formControlName="password">
        <div class="form-text text-danger" *ngIf="registerFormControls['password'].invalid && (registerFormControls['password'].dirty || registerFormControls['password'].touched)">
          <ng-container *ngIf="registerFormControls['password'].errors?.['required']">
            Please enter your password.
          </ng-container>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid || isSubmitted">Submit</button>
    </form>
  </div>
</div>
